{% extends 'base.html' %}
{% load static %}
{% block body %}
<div style="margin-top: 6.5rem;">
    {% if signin_form.non_field_errors %}

    <header class="container">
        {% for error in signin_form.non_field_errors %}
        <div class="alert alert-warning list-unstyled text-center" role="alert">{{ error }}</div>
        {% endfor %}
    </head>
    {% endif %}
    <main class="container">
            
        <section class="row p-3 justify-content-bewteen align-items-center">
            <div class="col-6 d-sm-none d-md-block">
                <img style="max-height: 70vh;" src="{% static 'logo/logo.svg' %}" class="img-fluid"/>
            </div>
            <div class="col-sm-12 col-md-4">
                <h1 class="font-alt">Already a member?</h1>
                <p class="text-muted">Log in to access personalized healthcare solutions.</p>
                <form method="POST" action="{% url 'account_signin' %}" class="mb-3" onsubmit="showSpinner()">
                    {% csrf_token %}
                    <div class="form-floating my-4">
                        <input placeholder="Password" type="text" class="form-control form-control-lg" id="id_username" name="username" required/>
                        <label class="text-default" for="username">Username</label>
                        <div class="invalid-feedback">Username is required.</div>
                    </div>
                    <div class="form-floating">
                        <input placeholder="Password" type="password" class="form-control form-control-lg" id="id_password" name="password" required/>
                        <label class="text-default" for="password">Password</label>
                        <div class="invalid-feedback">Password is required.</div>
                    </div>
                    <button type="submit" value="Sign In" class="btn submit-btn mt-3 w-100 btn-lg btn-primary">Sign In</button>
                </form>
            </div>
        </section>
    </main>
</div>
{% endblock %}