{% extends 'nakuoneafrica_base.html' %}
{% load static %}
{% block body %}
<header class="container-fluid bg-primary-dark py-4">
    <div class="container">
        <h3 class="font-alt text-white">
            <span class="me-1 font-alt">Goal {{ article.sdg.pk }}: </span>
            <span>{{ article.sdg.name }}</span>
        </h3>
        <small class="text-white">{{ article.sdg.description }}</small>
    </div>
</header>
<main class="container my-3">
    <div class="row g-5">
        <div class="col-md-8">
            <article class="blog-post">
                <h2 class="blog-post-title font-alt">{{ article.title }}</h2>
                {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_staff %}
                <a class="btn my-3 btn-success" href="{% url 'edit_article' pk=article.pk %}">Edit Article</a>
                {% endif %}
                <p class="blog-post-meta text-muted">{{ article.date }} by <a class="text-muted" href="#">{{ article.author }}</a></p>
            </article>
            {% if article.cover_image %}
            <img src="{{ article.cover_image.url  }}" alt="" class="img-fluid mb-4 w-100">
            {% endif %}
            <article class="blog-post">{{ article.content|safe}}</article>
            <nav class="blog-pagination my-3" aria-label="Pagination">
                <a class="btn btn-outline-dark rounded-2" href="{% url 'article_list' %}">Older</a>
            </nav>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 6rem;">
                <div class="p-sm-0 p-lg-4 bg-light rounded">
                    <h4 class="fst-italic font-alt text-brown">About</h4>
                    <p class="mb-0 text-muted">{{ article.summary }}</p>
                    {% if article.attachment %}
                    <p class="text-brown border-top pt-2 mt-3"></p>
                    <a onclick="confirmDownload('{{ article.attachment.url }}', '{{ article.attachment.name }}')" class="btn w-100 btn-outline-primary">Download the file <i class="fa-solid fa-download"></i></a>
                    {% endif%}
                </div>

                <div class="p-sm-0 p-lg-4">
                    <h4 class="fst-italic font-alt text-brown">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a class="text-brown" href="#">Podcast</a></li>
                        <li><a class="text-brown" href="#">Twitter</a></li>
                        <li><a class="text-brown" href="#">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}