{% extends 'nakuoneafrica_base.html' %}
{% load static %}
{% block body %}
<header style="margin-top: 5.8rem;" class="container-fluid px-0">
    <div class="row px-0 align-items-center">
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="gradient-overlay">
                        <img style="max-height: 66vh; width: 100%; object-fit:cover;" src="https://images.unsplash.com/photo-1521295121783-8a321d551ad2?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img-fluid">
                    </div>
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1 class="font-alt">8 ways Naku-One Africa supports the Global Goals</h1>
                            <p>Naku-One remains committed to advancing the Goals and in this feature we explore some of the ways we continue to support the achievement of the SDGs through our information, products and people.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="gradient-overlay">
                        <img style="max-height: 66vh; width: 100%; object-fit:cover;" src="https://images.unsplash.com/photo-1515205244153-fce4e5d8bc49?q=80&w=2504&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img-fluid">
                    </div>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 class="font-alt">Another example headline.</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="gradient-overlay">
                        <img style="max-height: 66vh; width: 100%; object-fit:cover;" src="https://images.unsplash.com/photo-1589519160142-7d1a51b43eaf?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="img-fluid">
                    </div>
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1 class="font-alt">One more for good measure.</h1>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</header>

<section class="container pt-3 pb-0">
    <div class="row g-2">
        {% for sdg in sdgs %}
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="text-start border p-4">
                <span class="d-flex">
                    <h1 class="font-alt text-brown me-2">{{ sdg.pk }}</h1>
                    <p class="text-brown font-alt">{{ sdg.name|upper }}</p>
                </span>
                <span class="text-center"><i class="fa-2xl fa-solid {{ sdg.icon }} icon-feature text-brown d-block my-4"></i></span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="container">
    <h2 class="font-alt text-brown border-top pt-3 my-4">Featured Articles</h2>
    <div class="row g-3">
        {% for article in articles %}
        <article class="col-sm-6 col-lg-4">
            {% include 'components/article.html' %}
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
