<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog text-default modal-dialog-scrollable modal-dialog-centered">
        <div style="border-radius: 14px;" class="modal-content border-0">
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center align-items-center g-3">
                        <form action="{% url 'account_signin' %}" method="POST" enctype="multipart/form-data" class="col mb-3" onsubmit="showSpinner()">
                            {% csrf_token %}
                            <div class="d-flex mt-4 justify-content-between">
                                <h3 class="font-alt">Welcome back!</h3>
                                <button type="button" class="btn-close btn-lg" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <p class="text-muted">Sign In</p>
                            <div class="form-floating my-4">
                                <input placeholder="Password" type="text" class="form-control form-control-lg" id="id_username" name="username" required/>
                                <label for="username">Username</label>
                                <div class="invalid-feedback">Username is required.</div>
                            </div>
                            <div class="form-floating">
                                <input placeholder="Password" type="password" class="form-control form-control-lg" id="id_password" name="password" required/>
                                <label for="password">Password</label>
                                <div class="invalid-feedback">Password is required.</div>
                            </div>
                            <input type="submit" value="Sign in" class="btn my-4 btn-primary btn-lg w-100"/>
                            <p>Don't have an account? <span><a href="{% url 'account_signup' %}" class="link fw-bold">Create account</a></span></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>