
/* Navbar toggler button animation start */
.navbar-toggler{
  width: 30px;
  height: 30px;
  position: relative;
  transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar-toggler span{
  margin: 0;
  padding: 0;
}
.toggler-icon{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #121212;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.middle-bar{
  margin-top: 0px;
}
/* When navigation is clicked */
.navbar-toggler .top-bar{
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar{
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar{
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar{
  margin-top: 20px;
  transform: rotate(0deg);
}

/* Color of the three lines */
.navbar-toggler.collapsed .toggler-icon{
  background: linear-gradient(263deg, rgba(0, 0, 0, 0.4) 0%, rgb(35, 35, 35) 100%);
}

/* Navbar toggler button animation end */
.header-gradient {
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent),
                url('../img/pexels-karolina-grabowska-4386466.jpg') no-repeat center center/cover;
    height: 88vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-gradient .row {
    position: relative;
    z-index: 2;
}

.header-gradient h1, 
.header-gradient p, 
.header-gradient a {
    z-index: 2;
}