{% extends 'base.html' %}{% load static %} {% block body %}
<header class="container-fluid">
    <h1 class="display-2 text-center">About Us</h1>
</header>
<main class="container-xxl">
    <div class="container">
        <h1 class="display-4 fw-bold">Sibia is a community health hospital, an SDG research centre, and state-of-the-art medical AI combined into one facility that is intended to serve informal communities. We address important healthcare issues by utilising AI and data analytics to provide personalised therapies, illness control, and predictive analytics. Working together with leading medical professionals and researchers, Sibia is dedicated to improving community health and accomplishing sustainable development objectives. Examine the all-inclusive solutions we offer to learn more about how we're changing things.</h1>
    </div>
</main>
{% endblock %}
