{% extends 'base.html' %}
{% load static %}
{% block body %}
<header style="padding: 9rem 0 4rem;" class="container-fluid">
    <h1 class="display-2 text-center">Contact Us</h1>
</header>
<main class="container-xxl">
    <div class="container">
        <h1 class="display-4 fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore assumenda excepturi molestias nam cupiditate fuga quos deserunt, repellat quidem beatae dolor sit qui doloremque? Beatae delectus quidem, officia dolorum, aliquam perferendis vero voluptates cum reprehenderit voluptatibus unde dolor, quos cumque.</h1>
    </div>
</main>
{% endblock %}
