{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="{% url 'index' %}">
            <img src="{% static 'logo/logo.svg' %}" style="height: 50px;" class="img-fluid">
        </a>
        <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="{% url 'index' %}">Home</a></li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link me-lg-3 dropdown-toggle hover"  id="dropdownBettyCareClinic" data-bs-toggle="dropdown" aria-expanded="false">Betty Care Clinic</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownBettyCareClinic">
                            <li><a class="dropdown-item" href="#">About</a></li>
                            <li><a class="dropdown-item" href="#">Contact</a></li>
                            <li><a class="dropdown-item" href="#">Request Appointment</a></li>
                            <li><a class="dropdown-item" href="#">Patient & Visitor Guide</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link me-lg-3 dropdown-toggle hover"  id="dropdownAdmin" data-bs-toggle="dropdown" aria-expanded="false">Naku-One Africa</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownAdmin">
                            <li><a class="dropdown-item" href="{% url 'nakuoneafrica' %}">Contact</a></li>
                            <li><a class="dropdown-item" href="{% url 'nakuoneafrica' %}">Library</a></li>
                            <li><a class="dropdown-item" href="{% url 'nakuoneafrica' %}">SDG3 Centre</a></li>
                            <li><a class="dropdown-item" href="{% url 'nakuoneafrica' %}">Research & Information</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link me-lg-3 dropdown-toggle hover"  id="dropdownSibiaAI" data-bs-toggle="dropdown" aria-expanded="false">Sibia AI</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownSibiaAI">
                            <li><a class="dropdown-item" href="#">Lab</a></li>
                            <li><a class="dropdown-item" href="#">Data</a></li>
                            <li><a class="dropdown-item" href="#">Podcast</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <button class="btn btn-primary btn-lg px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                <span class="d-flex align-items-center">
                    <i class="fa-solid fa-phone me-2"></i>
                    <span class="small">Request appointment</span>
                </span>
            </button>
            {% if request.user.is_superuser %}
            <div class="dropdown">
                <a class="no-btn ms-2 mb-2 mb-lg-0 dropdown-toggle hover"  id="dropdownAdmin" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownAdmin">
                    <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                    <li><a class="dropdown-item" href="{% url 'edit_homepage' pk=1 %}">Edit Homepage</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_signout' %}">Log out</a></li>
                </ul>
            </div>
            {% elif request.user.is_authenticated %}
            <a style="text-decoration: none;" class="hover text-brown ms-2 mb-2 mb-lg-0" href="{% url 'account_signout' %}">
                <span class="d-flex align-items-center">
                    <i class="fa-solid fa-right-from-bracket me-2"></i>
                    <span>Log out</span>
                </span>
            </a>
            {% else %}
            <button class="no-btn ms-2 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#loginModal">
                <span class="d-flex align-items-center">
                    <i class="fa-solid fa-user me-2"></i>
                    <span>Log in</span>
                </span>
            </button>
            {% endif %}
        </div>
    </div>
</nav>